*{
    padding:0;
    margin:0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display:flex;
    align-items: center;
    position: absolute;
    right:0;
    left:0;
    top:20px;
}
.logo{
    width:50%;
    padding-left:30px;
}
.p1{
    padding-bottom:25px;
}
.logo img{
    height:80px;
    width:auto;
}
nav{
    width:50%;
    padding-right:30px;
}
.nav-links{
    display:flex;
    list-style-type:none;
    float: right;
}
.nav-links li{
    padding:0 20px;
}
.nav-links li a{
    text-decoration:none;
    color:white;
}
#bg{
    background-image:url("../img/bbb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    padding-top:60px;
    padding-bottom:60px;
}
.container{
    width:980px;
    margin:auto;
}
.container h1{
    text-align: center; 
}
.bg-header {
    padding:200px 0 550px 0; 
}
.bg-header h1{
    color:white;
}
.Philosophy-header{
    padding-bottom:60px;
}
.Philosophy-content{
    color:black;
    text-align: center;
    font-size: 12px;
    line-height:1.6;
}
#Portfolio{
    background-image:url("../img/Death_to_stock_communicate_hands_5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
}
.Portfolio-header h1{
    color:white;
    padding-bottom:60px;
}
.img-row-1,.img-row-2{
    display:flex;
    justify-content: space-between;
}
.img-row-2{
    margin-top:25px;
}
.img-row-1,.img-row-2
,img{
    height:200px;
    width:auto;
}
.img img{
    border-bottom:solid;
}
footer{
    padding-top:25px;
    padding-bottom:25px;
    background-color:#272727;
    color:white;
    text-align: center;
}
.about-header {
    padding-bottom:60px;
    text-align: center;
} 
.about-img img {
    height: 200px;
    width: auto;
}
.about-img {
    height: 200px;
    width: auto;
}
.about-row {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
}
.about-content {
    line-height: 1.6;
    padding-left: 20px;
}
.about-content img {
    height: 17px;
    width: auto;
}
.bar-row-one {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding:15px 100px 0 50px;
}
.bar-row-two {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding:15px 100px 0 50px;
 }
label {
    width: 50px;
    display: inline-block;
    padding-right:30px;
}
.bar {
    display: flex;
    align-items: center;
}